import os
import pytest
from pathlib import Path
from pprint import pprint


{% for client in clients -%}
import clients.http.{{client.get("package")}} as {{ client.get("package")}}
{% endfor %}

from swagger_coverage_py.reporter import CoverageReporter

from vyper import v
import structlog.processors

structlog.configure(
    processors=[
        structlog.processors.JSONRenderer(
            indent=4,
            ensure_ascii=True,
            sort_keys=True
        )
    ]
)
options = (
    {% for client in clients -%}
    "service.{{ client.get("package")}}_{{ client.get("client") | underscore }}",
    {% endfor %}
)


@pytest.fixture(scope="session",autouse=True)
def set_config(request):
    config = Path(__file__).parent.parent.joinpath("config")
    config_name = request.config.getoption("--env")
    v.set_config_name(config_name)
    v.add_config_path(config)
    v.read_in_config()
    for option in options:
        v.set(f"--env", request.config.getoption(f"--{option}"))
    # os.environ["TELEGRAM_BOT_CHAT_ID"] = v.get("telegram.chat_id")
    # os.environ["TELEGRAM_BOT_ACCESS_TOKEN"] = v.get("telegram.token")
    # request.config.stash['telegram-notifier-addfields']['environment'] = config_name
    # request.config.stash['telegram-notifier-addfields']['report'] = "http://sergey-gureev.github.io/my_api_tests/"



{% for client in clients[:1]: -%}
@pytest.fixture(scope="session", autouse=True)
def setup_swagger_coverage_{{ client.get("package")}}():
    # TODO check links manually
    reporter = CoverageReporter(api_name='{{ client.get("package") }}', host='{{ client.get("host") }}')
    reporter.setup(path_to_swagger_json='{{- client.get("relative_path_to_swagger") | underscore -}}')
    yield
    reporter.generate_report()
    reporter.cleanup_input_files()

@pytest.fixture(scope="session")
def {{ client.get("package")}}_api_client(set_config) -> {{ client.get("package")}}.ApiClient:
    configuration = {{ client.get("package")}}.Configuration(host=v.get('service.{{ client.get("package")}}_{{ client.get("client") | underscore }}'))
    api_client = {{ client.get("package")}}.ApiClient(
        configuration=configuration,
        header_name="Authorization",
        header_value="api_key"
    )
    return api_client
{% endfor %}

def pytest_addoption(parser):
    parser.addoption("--env", action="store", default="stg", help="run stg")
    for option in options:
        parser.addoption(f"--{option}", action="store", default=None)



{% for client in clients %}
@pytest.fixture(scope="session")
def {{ client.get("package")}}_{{ client.get("client") | underscore }}({{ client.get("package")}}_api_client) -> {{ client.get("package")}}.{{ client.get("client")}}:
    return  {{ client.get("package")}}.{{ client.get("client")}}(api_client={{ client.get("package")}}_api_client)
{% endfor %}

